@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  border: 0;
}

body {
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
}

header {
  font-family: 'Roboto Mono', monospace;
  color: #FFF;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

header #imersaodev-logo {
  width: 200px;
}

header #top-links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  flex-direction: column;
}

header #top-links #alura-link {
  margin-left: auto;
  margin-bottom: 10px;
}

header #top-links #alura-link img {
  width: 40px;
}

header #top-links #mygithub {
  display: flex;
  color: #FFF;
  justify-content: center;
  text-decoration: none;
}

header #top-links #mygithub:hover #authorlink {
  background-color: #FFF;
  color: #000;
}

header #top-links #mygithub #githublogo {
  margin-right: 10px;
}

main #form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #form input {
  width: 80px;
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

main #form button {
  width: 80px;
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

main #form p {
  font-family: 'Roboto Mono', monospace;
  background-color: #000;
  text-align: center;
  color: #FFF;
}